# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually contains binary executables for platforms
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
.pytest_cache/
.stestr/




# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Backup files
*.bak
*.swp
*.swo
*.tmp
~$*

# Env files
.env
.env.*
*.env

# Virtual environment
venv/
ENV/
.env.bak/
env/
venv.bak/

# Logs
*.log
*.out
*.err